/* Foundation v2.1.3 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body{
  background-color:#ccc;
}
table{
  border:none;
}
a{
  color:#1e1e1e;
  text-decoration: underline;
}
div.tweets-pulled-listing a{
  color:#1e1e1e;
}

h2.block-title,h1.title{color:#555;font-size:2.0em;}

body.page-preneur-list h1.title{
  font-size:1.5em;
  text-transform: uppercase;
}
body.page-profile-preneur h1.title{display:none;}
body.node-type-collection h1.title{
  font-size:2.0em;
  color:#555
}

.container-offset{
    padding-top:10px;
}
.row {
max-width: 940px; /* the site will be 940px wide */
max-width: 1020px;
}
.toprow{
xposition: relative;
xtop: 0;
xleft: 0;
background: #f1f1f1!important;
/*background-color: #ccc;*/
xwidth: 100%;
/*
-webkit-box-shadow: rgba(0,0,0,0.0976562) 0 5px 5px;
-moz-box-shadow: rgba(0,0,0,0.0976562) 0 5px 5px;
box-shadow: rgba(0,0,0,0.0976562) 0 5px 5px;
border-bottom: 3px solid #C9025C; */
}

/*
.toprow ul{
    float:left;
    margin-bottom: 5px;
}
.toprow ul li{
    float:left;
    margin-right:1px;
    margin-bottom:0;
}
.toprow ul li a{
    float:left;
    display: block;
    padding:0 5px;
}*/

/* login bar drupal silly */
.block #user-login-form{
  float:left;
}
.block #user-login-form div.form-item-name,.block #user-login-form div.form-item-pass, 
.block #user-login-form div.form-actions{float:left;}

.toprow .form-item, .toprow .form-actions{
  margin:0;
  margin-bottom:5px;
}
.toprow .form-item input#edit-name, .toprow .form-item input#edit-pass{
  width:150px;
}
.toprow .form-item input#edit-name{
  margin-right:4px;
}

.block #user-login-form div.item-list{
  clear:left;
  margin:0;padding:0;
  position: absolute;
  top:26px;
  right:0;
}
.block #user-login-form div.item-list ul{
  margin:0;padding:0;
}
.block #user-login-form div.item-list ul li{
  margin:0;padding:0; float: left;margin-right: 5px;
  font-size:11px;
}
.block #user-login-form div.item-list ul li.first a{
  padding-right:5px;
  border-right: 1px solid #000;
}

.topwrapper .region{
  float:right;
}

.region-header .menu-name-user-menu{
  
}
.region-header .menu-name-user-menu ul{
  float: left;
  list-style: none;
  margin:0; padding:0;
}
.region-header .menu-name-user-menu ul li{
  float:left;
  list-style-type:none;
  list-style-image: none;
}
.region-header .menu-name-user-menu ul li a{
  float:left;
  display:block;
  
}



.topwrapper{
    padding-top: 7px;
    padding-bottom:14px;
    overflow:hidden;
}

.main{
  background-color:#fff;
}
.rightcolumn{
  xbackground-color: #00a6fc;
  padding-top:20px;
  
}
.leftcolumn{
  xbackground-color: #7fae00;
}
.middlecolumn{
  xbackground-color: #c08c00;
  padding-top:20px;
}

div.menu-name-main-menu ul.menu{
  padding-left: 20px;
  padding-top:20px;
}
  div.menu-name-main-menu ul.menu li ul{
    margin:0;padding:0;
  }
  div.menu-name-main-menu ul.menu li ul li{
    margin:0;padding:0;
  }
div.menu-name-main-menu ul.menu li{
  xmargin-bottom: 5px;
  list-style-image: none;
  list-style-type: none;
  text-transform:uppercase;
  margin-bottom:3px;
}
div.menu-name-main-menu ul.menu li.menu-mlid-386 > a{
  color:red;
}
div.menu-name-main-menu ul.menu li a{
color: #777;
font-size: 1.3rem;
color: #888;
font-weight: bold;
text-decoration: none;
}

div.menu-name-main-menu ul.menu li ul li a{
  font-weight: normal;
}

 


.rightcolumn{
  margin-left:3%;
}

.rightcolumn .updates, .rightcolumn .featured{
  padding-right:20px;
}

.rightcolumn .updates h2, .rightcolumn .featured h2{
  font-size: 1.1em;
font-weight: bold;
color: #898788;
background-color: #f1f1f1;
}
.rightcolumn h2.block-title{
font-size: 1.1em;
font-weight: bold;
color: #898788;
background-color: #f1f1f1; 
}

/* tweets */
div.tweets-pulled-listing h2{display:none;}

/* featured */
span.featured-bio{
  display:block;
  margin-bottom:20px;
}
h4.featured-name{
  color:#555;
}


.newsletter{
  display: block;
font-weight: bold;
background-color: #F1F1F1;
margin-bottom: 5px;
}
.block-simplenews h2.block-title{
  display: block;
font-weight: bold;
background-color: #F1F1F1;
margin-bottom: 5px;
font-size: 14px;
color:#555;
}



h1.header{
 color:#a1a1a1;
 font-weight: bold;
 font-size: 1.9em;
 text-align: center;
}

/* press */

.image-wrapper{
  background-color: #f8f8f8;
  padding:2px;
  margin-bottom:50px;
}

/* blog */
.blog{
  margin-bottom: 20px;
  xborder-bottom: 1px dotted #ccc;
}
.blog .image-wrapper{
  margin-bottom: 15px;
}
.blog-title{
  text-transform: uppercase;
  font-size:22px;
  color: #ccc;
}
.blog-title a{
  color: #ccc;
}


/* events */
.event-title{
  text-transform: uppercase;
  font-size:22px;
  color: #ccc;
}
/* /events */

/* press */
.press-title{
  xtext-transform: uppercase;
  font-size:16px;
  color: #ccc;
}

/* /press */


/* resources */
.resource-name-title{
  font-size:1.5rem;
  color:#777;
  margin:0;
}
/* /resources */


/* -----------------------------------------
   stylepreneur list view page
----------------------------------------- */

.view-preneur-list .views-row{
  float:left;
  margin-left:10px;
  height:290px;
}




/* -----------------------------------------
   stylepreneur detail page
----------------------------------------- */

.group-right{
  width:75%;
}
.group-left{
  width:25%;
}
.group-header{
  height:40px;
}

.profile2-preneur .field-name-field-image{
  float:left;
  margin-right: 10px;
}

.profile2-preneur .field-name-field-school{
  float:left;
}
.profile2-preneur .field-name-field-school .field-label{
  float: left;
}
.profile2-preneur .field-name-field-school .field-items{
  float:left;
}
/* **** */
.profile2-preneur .field-name-field-name{
  font-size:2.0em;
}

.profile2-preneur .field-name-field-name .field-label{
  
}
.profile2-preneur .field-name-field-name .field-items{
  
}
/* ** */
.profile2-preneur .field-name-field-website{
  float:left;
  clear:left;
}
.profile2-preneur .field-name-field-website .field-label{
  float: left;
}
.profile2-preneur .field-name-field-website .field-items{
  float:left;
}

/* *** */
.profile2-preneur .field-name-field-location{
  float:left;
  clear:left;
}
.profile2-preneur .field-name-field-location .field-label{
  float:left;
}
.profile2-preneur .field-name-field-location .field-items{
  float:left;
}



.profile2-preneur .field-name-field-bio{
  xfloat: left;
  xmargin-left: 143px;
  clear:left;
  padding-top:10px;
}
.block-usercollection {
  clear:left;
  margin-top:5px;
}

.block-usercollection h2.block-title{
  font-size: 1.4em;
  border-bottom:1px solid #ccc;
}

.block-usercollection div.item-list ul {
  float:left;
  margin:0;padding:0;
}
.block-usercollection div.item-list ul li{
  float:left;
  margin:0;
  margin-right:10px;
}
.block-usercollection div.item-list ul li a{
  display:block;
  float:left;
}



/* -----------------------------------------
   node collection page
----------------------------------------- */

.node-collection{
  
}

.node-collection .field-name-field-image{
  float:left;
  margin-right: 15px;
}

.node-collection .view-collection-items{
  clear:left;
  margin-top:20px;
}

body.node-type-collection div.ds-2col-stacked .group-header{
  height:0;
}
body.node-type-collection div.ds-2col-stacked .group-footer{
  margin-top:20px;
}


.field-name-field-season {
  float:left;
}
.field-name-field-season .field-label{
  float:left;
}
.field-name-field-season .field-items{
  float:left;
}
/* ** */
.field-name-field-theme{
  clear:left;
  float:left;
}
.field-name-field-theme .field-label{
  float:left;
}
.field-name-field-theme .field-items{
  float: left;
}

/* ** */
.field-name-field-inspiration{
  float:left;
  clear:left;
}
.field-name-field-inspiration .field-label{
  float:left;
}
.field-name-field-inspiration .field-items{
  float:left;
}

/* ** */
.field-name-field-linesheet{
  float:left;
  clear:left;
}
.field-name-field-linesheet .field-label{
  float:left;
}
.field-name-field-linesheet .field-items{
  float:left;
}
